<a href={{ article_url }} target="_blank">
  <div class="press-page-logo"><img src={{ article_logo | img_url: '350x350' }} height="67"></div>
  <div class="press-page-image"><img src={{ article_image | img_url: '350x350' }}></div>
  <div class="press-block-date">{{ article_date }}</div>
  <div class="press-block-title">{{ article_title }}</div>
  <div class="press-page-description">{{ article_description }} </div>
  <div class="press-page-readmore">Read More ></div>
</a>