<div class="product__form custom">

  {% unless product.template_suffix contains 'charge-rabbit' %}
    <div id="AddToCartForm-{{ section.id }}" data-section="{{ section.id }}" class="product-form-{{section.id}} product-form">


      {% form 'product', product %}
          {% if product.options.size >= 1 %}
              <script>
                  var product_variants_removed = [
                      {%- for variant in product.variants -%}
                      {%- unless variant.available -%}
                      '{{ variant.option1 }}',
                      {%- endunless -%}
                      {%- endfor -%}
                  ];
              </script>
          {% endif %}

        {% unless product.has_only_default_variant %}

          {% for option in product.options_with_values %}
            <div class="selector-wrapper js {% if option.name == "Size" %}size-guide{% endif %}">

              {% comment %}
              <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" class="{% if option.name == "Color" or option.name == "Colour" %}hidden{% endif %}">
                {{ option.name }}
              </label>{% endcomment %}

                {% assign all_out_of_stock = true %}
                {% for value in option.values %}
                    {% unless product.variants[forloop.index0].inventory_quantity == 0 %}
                        {% assign all_out_of_stock = false %}
                    {%endunless%}
                {% endfor %}

              <div class="select-wrapper-size">
                    <div class="dropdown {% if all_out_of_stock %}disabled-select{% endif %} select-container option{{ forloop.index }}" style="{% if option.name == "Color" or option.name == "Colour" %}display: none;{% endif %}">

                        {% if option.name == "Color" or option.name == "Colour" %}
                            {% assign color_value = option.values[0] | escape %}
                        {% endif %}
                    <input {% if option.name == "Color" or option.name == "Colour" %}value="{{ color_value }}"{% endif %} class="select-input single-option-selector single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-index="option{{ forloop.index }}" data-section="{{ section.id }}" type="text" placeholder="select size..." readonly>
                    <ul class="options">

                        {% for value in option.values %}

                            {% assign variant_avialable = true %}
                            {% if product.options.size == 1 %}
                                {% unless product.variants[forloop.index0].available %}
                                    {% assign variant_avialable = false %}
                                {% endunless %}
                            {% endif %}
                            {% if product.variants[forloop.index0].inventory_quantity == 0 %}
                                {% assign out_of_stock = true %}
                                {% else %} {% assign out_of_stock = false %}
                            {% endif %}
                            <li data-id="{{ value | escape }}" class="option {% if out_of_stock %}out-of-stock{% endif %}">
                                <div class="size">{{ value }}</div>
                                {% if product.variants[forloop.index0].inventory_quantity <= 3 and product.variants[forloop.index0].inventory_quantity > 0%}
                                    <div class="x-left"> Only {{ product.variants[forloop.index0].inventory_quantity }} left </div>
                                {% endif %}
                                {% if out_of_stock %}
                                    <div class="notify-me-btn"> Notify me </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>



              {% if option.name == "Size" %}
                  {% comment %}
                    Optional size chart - controlled by Magnific Popup
                  {% endcomment %}
                  {% if product.variants.size > 1 and product.options contains "Size" %}
                      {% assign is_handle = false %}
                      {% for block in section.blocks %}
                          {% if block.type == 'view_size_page' %}
                              {% for c in product.collections %}
                                  {% if block.settings.handle == c.handle and block.settings.handle != 'all' and block.settings.page_view != blank %}
                                      {% include 'sizing_popup' %}
                                      {% assign is_handle = true %}
                                  {% endif %}
                                  {% break %}
                              {% endfor %}
                          {% endif %}
                      {% endfor %}

                      {% if is_handle == false %}
                          {% for block in section.blocks %}
                              {% if block.type == 'view_size_page' %}
                                  {% if block.settings.handle == 'all' and block.settings.page_view != blank %}
                                      {% include 'sizing_popup' %}
                                  {% endif %}
                              {% endif %}
                          {% endfor %}
                      {% endif %}
                  {% endif %}
              {% endif %}

          	</div>

          {% endfor %}

        {% endunless %}




        <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
          {% endfor %}
        </select>

        {% assign sold_out = true %}
        {% if current_variant.available  %}
          {% assign sold_out = false %}
        {% endif %}


        {% if section.settings.show_quantity %}
          <div class="js-qty quantity-selector" id="Quantity-{{section.id}}">
            <span class="js-qty__adjust js-qty__adjust--minus quantity__minus">&minus;</span>
            <input class="text quantity js-qty__num quantity__input" name="quantity" value="1" min="1" aria-label="quantity" pattern="[0-9]*"/>
            <span class="js-qty__adjust js-qty__adjust--plus quantity__plus">+</span>
          </div>
        {% endif %}

        <!-- Klarna Banner Product Page -->
        <klarna-placement
          data-key="credit-promotion-auto-size"
          data-locale="en-US"
          data-purchase-amount=""
        ></klarna-placement>
        <!-- end Placement -->

        <div class="add-to-cart__wrapper">
          <button type="submit" name="add" data-add-to-cart id="AddToCart-{{ section.id }}" class="btn btn--large btn--full btn--clear uppercase addToCart{% if sold_out %} disabled{% endif %}" {% if sold_out %}disabled="true"{% endif %}>
            <span id="AddToCartText-{{ section.id }}">{% if sold_out %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
          </button>
          <div id="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></div>
        </div>


        {% if section.settings.enable_payment_button %}
          {{ form | payment_button }}
        {% endif %}

      {% endform %}

        <script>
            // Variables
            const dropdowns = document.querySelectorAll('.dropdown');

            dropdowns.forEach( (dropdown, i) => {
                const name = `.option${++i}`;
                const input = document.querySelector(`${name} .select-input`);
                const listOfOptions = document.querySelectorAll(`${name} .option`);
                const listOfAvailableOptions = document.querySelectorAll(`${name} .option:not(.out-of-stock)`);
                const body = document.body;
                const isDisabled = (dropdown.classList.contains('disabled-select')) ? true : false;

                // Functions
                const toggleDropdown = (event) => {
                    event.stopPropagation();
                    dropdown.classList.toggle('opened');
                };

                const selectOption = (option) => {
                    if (option.classList.contains('out-of-stock')) {
                        document.querySelector('#SI_trigger').click();
                    } else {
                        input.value = option.dataset.id;
                        input.dispatchEvent(new Event('change', {bubbles: true}))
                    }
                };

                const closeDropdownFromOutside = () => {
                    if (dropdown.classList.contains('opened')) {
                        dropdown.classList.remove('opened');
                    }
                };

                const selectFirstOption = () => {
                    if (listOfAvailableOptions.length > 0) {
                        input.value = listOfAvailableOptions[0].dataset.id;
                    } else input.value = listOfOptions[0].dataset.id;
                };

                // Event Listeners

                body.addEventListener('click', closeDropdownFromOutside);

                listOfOptions.forEach((option) => {
                    option.addEventListener('click', () => {
                        selectOption(option);
                    });
                });

                dropdown.addEventListener('click', toggleDropdown);
                selectFirstOption();
            })
        </script>
    </div>

  {% else %}
    <form action="{{ product.metafields.charge_rabbit.subscribe_path }}" method="get" enctype="multipart/form-data" data-section="{{ section.id }}" class="product-form-{{ section.id }} charge-rabbit-product">
      <input type="hidden" name="customer_id" value="{{customer.id}}">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <select class="single-option-selector single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-section="{{ section.id }}" data-index="option{{ forloop.index }}">
              {% for value in option.values %}
                {% assign variant_avialable = true %}
                {% if product.options.size == 1 %}
                  {% unless product.variants[forloop.index0].available  %}
                    {% assign variant_avialable = false %}
                  {% endunless %}
                {% endif %}
                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
          {% endif %}
        {% endfor %}
      </select>

      {% assign sold_out = true %}
      {% if current_variant.available  %}
        {% assign sold_out = false %}
      {% endif %}

      <div class="add-to-cart__wrapper">
        <button type="submit" name="add" data-add-to-cart id="AddToCart-{{ section.id }}" class="btn btn--large btn--full btn--clear uppercase addToCart{% if sold_out %} disabled{% endif %}" {% if sold_out %}disabled="true"{% endif %}>
          <span id="AddToCartText-{{ section.id }}">{% if sold_out %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
          <span class="unicode">•</span>
          <span class="add-to-cart__price"><span class="buttonPrice" id="ButtonPrice-{{ section.id }}" data-item-price="{{ current_variant.price }}">{{ current_variant.price | money }}</span></span>
        </button>
      </div>
    </form>
    {% include 'membership-product-callbacks' %}
  {% endunless %}
</div>

<div id="CartDrawerWrapper--{{ section.id }}" class="cart-drawer"></div>
