<!-- /sections/collection-shop.liquid -->

{% paginate collection.products by 100 %}

{%- assign grid_offset = '' -%}
{%- assign products_count = collection.products_count -%}

{%- case section.settings.grid_setting_large -%}
  {%- when 1 -%}
    {%- assign grid_width_large = 'large--one-whole' -%}
  {%- when 2 -%}
    {%- assign grid_width_large = 'large--one-half' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--one-quarter' -%}
    {%- endif -%}
  {%- when 3 -%}
    {%- assign grid_width_large = 'large--one-third' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--one-third' -%}
    {%- elsif products_count == 2 -%}
      {%- assign grid_offset = 'push--large--one-sixth' -%}
    {%- endif -%}
  {%- when 4 -%}
    {%- assign grid_width_large = 'large--one-quarter' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--three-eighths' -%}
    {%- elsif products_count == 2 -%}
      {%- assign grid_offset = 'push--large--one-quarter' -%}
    {%- elsif products_count == 3 -%}
      {%- assign grid_offset = 'push--large--one-eighth' -%}
    {%- endif -%}
  {%- when 5 -%}
    {%- assign grid_width_large = 'large--one-fifth' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--two-fifths' -%}
    {%- elsif products_count == 2 -%}
      {%- assign grid_offset = 'push--large--three-tenths' -%}
    {%- elsif products_count == 3 -%}
      {%- assign grid_offset = 'push--large--one-fifth' -%}
    {%- elsif products_count == 4 -%}
      {%- assign grid_offset = 'push--large--one-tenth' -%}
    {%- endif -%}
  {%- when 6 -%}
    {%- assign grid_width_large = 'large--one-sixth' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--five-twelfths' -%}
    {%- elsif products_count == 2 -%}
      {%- assign grid_offset = 'push--large--two-sixths' -%}
    {%- elsif products_count == 3 -%}
      {%- assign grid_offset = 'push--large--three-twelfths' -%}
    {%- elsif products_count == 4 -%}
      {%- assign grid_offset = 'push--large--one-sixth' -%}
    {%- elsif products_count == 5 -%}
      {%- assign grid_offset = 'push--large--one-twelfth' -%}
    {%- endif -%}
{%- endcase -%}

{%- case section.settings.grid_setting_medium -%}
  {%- when 1 -%}
    {%- assign grid_width_medium = 'medium--one-whole' -%}
  {%- when 2 -%}
    {%- assign grid_width_medium = 'medium--one-half' -%}
  {%- when 3 -%}
    {%- assign grid_width_medium = 'medium--one-third' -%}
  {%- when 4 -%}
    {%- assign grid_width_medium = 'medium--one-quarter' -%}
{%- endcase -%}

{%- case section.settings.grid_setting_small -%}
  {%- when 1 -%}
    {%- assign grid_width_small = 'small--one-whole' -%}
  {%- when 2 -%}
    {%- assign grid_width_small = 'small--one-half' -%}
  {%- when 3 -%}
    {%- assign grid_width_small = 'small--one-third' -%}
{%- endcase -%}

{% if section.settings.blocks.count == 0 %}
	{%- assign shop_all = true -%}
	{%- assign products = collection.products -%}
{% else %}
	{%- assign shop_all = false -%}
{% endif %}


<div data-section-id="{{ section.id }}" data-section-type="parallax">
  <div class="ev-shop-hero aos-init aos-animate lazyload fade-in" data-aos="fade-up" >
    <img src="{{ 'shop-hero-2.jpg' | asset_url }}" alt="woman lounging" >
  </div>
  <div class="collection sidebar--hidden" data-sidebar-toggle>
    <div class="wrapper">
      <div class="collection__heading--below">
        {%- if section.settings.show_title -%}
        <h1 class="collection__heading--below title--flex {{ section.settings.align_text }}">{{ collection.title }}</h1>
        {%- endif -%}
        {%- if section.settings.show_description and collection.description.size > 0 -%}
        <div class="collection__heading--below {{ section.settings.description_font_size }} {{ section.settings.align_text }}">
          {{ collection.description }}
        </div>
        {%- endif -%}
      </div>
	  <div class="grid">
        <div class="grid__item collection-content one-whole">
          <div class="grid-uniform">
              {% for block in section.blocks %}
            	{%- assign handle = "" -%}
            	<div class="custom-shop-grid grid grid--full aos-init aos-animate" data-aos="fade-up" style="margin-top:{{section.settings.shop_margin_top}}px;">
                  <div style="margin:{{block.settings.shop_product_margin}}px;padding:{{block.settings.shop_product_padding}}px;">
                  {%- case block.type -%}
                    {%- when "shop_imgproducts1" -%}
                      <div class="single_row">
                          {%- assign grid_width_large = 'large--one-half' -%}
                          {%- assign grid_width_medium = 'medium--one-half' -%}
                          {%- assign grid_width_small = 'small--one-whole' -%}

                          {%- assign handle = block.settings.shop_product1 -%}
                          {% for product in collections.shop.products %}
                            {% if product.handle == handle %}
                              {% assign product = product %}
                            {% endif %}
                          {% endfor %}
                          {%- assign feature_image = block.settings.shop_img1 -%}
                          {% include 'custom-collection-grid-item' %}
                      </div>
                    {%- when "shop_porproducts1" -%}
                      <div class="single_row_portrait">
                          {%- assign grid_width_large = 'large--one-half' -%}
                          {%- assign grid_width_medium = 'medium--one-half' -%}
                          {%- assign grid_width_small = 'small--one-whole' -%}

                          {%- assign handle = block.settings.shop_product1p -%}
                          {%- assign feature_image = block.settings.shop_img1p -%}
                          {% include 'custom-collection-grid-item' %}
                      </div>
                    {%- when "shop_products2" -%}
                        {%- assign grid_width_large = 'large--one-half' -%}
                        {%- assign grid_width_medium = 'medium--one-half' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}

                        {%- assign handle = block.settings.shop_product21 -%}
                        {% include 'product-shop-grid-item-2' %}
                        {%- assign handle = block.settings.shop_product22 -%}
                        {% include 'product-shop-grid-item-2' %}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product22 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}


                    {%- when "shop_imgproducts2" -%}
                        {%- assign grid_width_large = 'large--one-half' -%}
                        {%- assign grid_width_medium = 'medium--one-half' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}

                    	{%- assign handle = block.settings.shop_product21 -%}
                        {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img21 -%}
                        {% include 'custom-collection-grid-item' %}
                      {%- assign handle = block.settings.shop_product22 -%}
                        {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img22 -%}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_products3" -%}
                        {%- assign grid_width_large = 'large--one-third' -%}
                        {%- assign grid_width_medium = 'medium--one-third' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}

                        {%- assign handle = block.settings.shop_product31 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product32 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product33 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_imgproducts3" -%}
                        {%- assign grid_width_large = 'large--one-third' -%}
                        {%- assign grid_width_medium = 'medium--one-third' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}

                    	{%- assign handle = block.settings.shop_product31 -%}
                    	{%- assign feature_image = block.settings.shop_img31 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img31 -%}
                        {% include 'custom-collection-grid-item' %}
                      {%- assign handle = block.settings.shop_product32 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img32 -%}
                        {% include 'custom-collection-grid-item' %}
                      {%- assign handle = block.settings.shop_product33 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img33 -%}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_products4" -%}
                        {%- assign grid_width_large = 'large--one-quarter' -%}
                        {%- assign grid_width_medium = 'medium--one-quarter' -%}
                        {%- assign grid_width_small = 'small--one-half' -%}

                        {%- assign handle = block.settings.shop_product41 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product42 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product43 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product44 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_imgproducts4" -%}
                        {%- assign grid_width_large = 'large--one-quarter' -%}
                        {%- assign grid_width_medium = 'medium--one-quarter' -%}
                        {%- assign grid_width_small = 'small--one-half' -%}

                    	{%- assign handle = block.settings.shop_product41 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img41 -%}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product42 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img42 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product43 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img43 -%}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product44 -%}
                      {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                            {% assign product = product %}
                          {% endif %}
                        {% endfor %}
                      {%- assign feature_image = block.settings.shop_img44 -%}
                        {% include 'custom-collection-grid-item' %}
                  {%- endcase -%}
                  </div>
            	</div>
            	<div style="clear:both;"></div>

              {% endfor %}
          </div>
      </div>
      </div>
    </div>
</div>

{% endpaginate %}

<script>
  $(document).ready(function(){
    $('.grid__item_frame').each(function(){
    $(this).css( "height", this.clientWidth * 1.33 ); });
    $('.single_row .grid__item_frame').each(function(){
    $(this).css( "height !important", "unset" ); });
    $('.single_row_portrait .grid__item_frame').each(function(){
    $(this).css( "height !important", "unset" ); });
  });
</script>

{% schema %}
{
  "name": "Shop page",
  "settings": [
    {
       "type": "header",
       "content": "Layout"
     },
     {
       "type": "select",
       "id": "align_text",
       "label": "Text alignment",
       "default": "text-center",
       "options": [
         { "value": "text-left", "label": "Left"},
         { "value": "text-center", "label": "Center"},
         { "value": "text-right", "label": "Right"}
       ]
     },
     {
       "type": "checkbox",
       "id": "show_title",
       "label": "Show collection title",
       "default": true
     },
     {
       "type": "checkbox",
       "id": "show_description",
       "label": "Show collection description",
       "default": true
     },
     {
       "type": "select",
       "id": "description_font_size",
       "label": "Description text size",
       "default": "rte rte--large",
       "options": [
         { "value": "rte", "label": "Regular"},
         { "value": "rte rte--large", "label": "Large"},
         { "value": "rte rte--xl", "label": "Extra Large"}
       ]
     },
    {
      "type":    "range",
      "id":      "shop_margin_top",
      "min":     0,
      "max":     250,
      "step":    5,
      "label":   "Top Margin (px per row)",
      "default": 0
    },
    {
      "type":    "range",
      "id":      "shop_margin_bottom",
      "min":     0,
      "max":     250,
      "step":    5,
      "label":   "Bottom Margin (px per row)",
      "default": 25
    }
    ],
    "blocks": [
    {
      "type": "shop_products2",
      "name": "Products x 2",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "product",
          "id": "shop_product21",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "shop_product22",
          "label": "Product 2"
        }
      ]
    },
    {
      "type": "shop_products3",
      "name": "Products x 3",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "product",
          "id": "shop_product31",
          "label": "Product 1"
        },
		{
          "type": "product",
          "id": "shop_product32",
          "label": "Product 2"
        },
		{
          "type": "product",
          "id": "shop_product33",
          "label": "Product 3"
        }
      ]
    },
    {
      "type": "shop_products4",
      "name": "Products x 4",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "product",
          "id": "shop_product41",
          "label": "Product 1"
        },
		{
          "type": "product",
          "id": "shop_product42",
          "label": "Product 2"
        },
        {
          "type": "product",
          "id": "shop_product43",
          "label": "Product 3"
        },
		{
          "type": "product",
          "id": "shop_product44",
          "label": "Product 4"
        }
      ]
    },
  	{
      "type": "shop_imgproducts1",
      "name": "Images with Products x 1",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img1",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "shop_product1",
          "label": "Product"
        }
      ]
    },
    {
      "type": "shop_porproducts1",
      "name": "Port with Products x 1",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img1p",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "shop_product1p",
          "label": "Product"
        }
      ]
    },
    {
      "type": "shop_imgproducts2",
      "name": "Images with Products x 2",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img21",
          "label": "Image 1"
        },
        {
          "type": "product",
          "id": "shop_product21",
          "label": "Product 1"
        },
        {
          "type": "image_picker",
          "id": "shop_img22",
          "label": "Image 2"
        },
		{
          "type": "product",
          "id": "shop_product22",
          "label": "Product 2"
        }
      ]
    },
    {
      "type": "shop_imgproducts3",
      "name": "Images with Products x 3",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img31",
          "label": "Image 1"
        },
        {
          "type": "product",
          "id": "shop_product31",
          "label": "Product 1"
        },
        {
          "type": "image_picker",
          "id": "shop_img32",
          "label": "Image 2"
        },
		{
          "type": "product",
          "id": "shop_product32",
          "label": "Product 2"
        },
        {
          "type": "image_picker",
          "id": "shop_img33",
          "label": "Image 3"
        },
		{
          "type": "product",
          "id": "shop_product33",
          "label": "Product 3"
        }
      ]
    },
    {
      "type": "shop_imgproducts4",
      "name": "Images with Products x 4",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img41",
          "label": "Image 1"
        },
        {
          "type": "product",
          "id": "shop_product41",
          "label": "Product 1"
        },
        {
          "type": "image_picker",
          "id": "shop_img42",
          "label": "Image 2"
        },
		{
          "type": "product",
          "id": "shop_product42",
          "label": "Product 2"
        },
        {
          "type": "image_picker",
          "id": "shop_img43",
          "label": "Image 3"
        },
        {
          "type": "product",
          "id": "shop_product43",
          "label": "Product 3"
        },
        {
          "type": "image_picker",
          "id": "shop_img44",
          "label": "Image 4"
        },
		{
          "type": "product",
          "id": "shop_product44",
          "label": "Product 4"
        }
      ]
    }
  ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
