<!-- /sections/collection-shop.liquid -->

{% paginate collection.products by 50 %}

{%- assign grid_offset = '' -%}
{%- assign products_count = collection.products_count -%}

{%- case section.settings.grid_setting_large -%}
  {%- when 1 -%}
    {%- assign grid_width_large = 'large--one-whole' -%}
  {%- when 2 -%}
    {%- assign grid_width_large = 'large--one-half' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--one-quarter' -%}
    {%- endif -%}
  {%- when 3 -%}
    {%- assign grid_width_large = 'large--one-third' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--one-third' -%}
    {%- elsif products_count == 2 -%}
      {%- assign grid_offset = 'push--large--one-sixth' -%}
    {%- endif -%}
  {%- when 4 -%}
    {%- assign grid_width_large = 'large--one-quarter' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--three-eighths' -%}
    {%- elsif products_count == 2 -%}
      {%- assign grid_offset = 'push--large--one-quarter' -%}
    {%- elsif products_count == 3 -%}
      {%- assign grid_offset = 'push--large--one-eighth' -%}
    {%- endif -%}
  {%- when 5 -%}
    {%- assign grid_width_large = 'large--one-fifth' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--two-fifths' -%}
    {%- elsif products_count == 2 -%}
      {%- assign grid_offset = 'push--large--three-tenths' -%}
    {%- elsif products_count == 3 -%}
      {%- assign grid_offset = 'push--large--one-fifth' -%}
    {%- elsif products_count == 4 -%}
      {%- assign grid_offset = 'push--large--one-tenth' -%}
    {%- endif -%}
  {%- when 6 -%}
    {%- assign grid_width_large = 'large--one-sixth' -%}
    {%- if products_count == 1 -%}
      {%- assign grid_offset = 'push--large--five-twelfths' -%}
    {%- elsif products_count == 2 -%}
      {%- assign grid_offset = 'push--large--two-sixths' -%}
    {%- elsif products_count == 3 -%}
      {%- assign grid_offset = 'push--large--three-twelfths' -%}
    {%- elsif products_count == 4 -%}
      {%- assign grid_offset = 'push--large--one-sixth' -%}
    {%- elsif products_count == 5 -%}
      {%- assign grid_offset = 'push--large--one-twelfth' -%}
    {%- endif -%}
{%- endcase -%}

{%- case section.settings.grid_setting_medium -%}
  {%- when 1 -%}
    {%- assign grid_width_medium = 'medium--one-whole' -%}
  {%- when 2 -%}
    {%- assign grid_width_medium = 'medium--one-half' -%}
  {%- when 3 -%}
    {%- assign grid_width_medium = 'medium--one-third' -%}
  {%- when 4 -%}
    {%- assign grid_width_medium = 'medium--one-quarter' -%}
{%- endcase -%}

{%- case section.settings.grid_setting_small -%}
  {%- when 1 -%}
    {%- assign grid_width_small = 'small--one-whole' -%}
  {%- when 2 -%}
    {%- assign grid_width_small = 'small--one-half' -%}
  {%- when 3 -%}
    {%- assign grid_width_small = 'small--one-third' -%}
{%- endcase -%}

{% if section.settings.blocks.count == 0 %}
	{%- assign shop_all = true -%}
	{%- assign products = collection.products -%}
{% else %}
	{%- assign shop_all = false -%}
{% endif %}


<div data-section-id="{{ section.id }}" data-section-type="parallax">

  {% if collection.image and section.settings.show_image %}
    {%- assign img_url = collection.image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div class="homepage-image fade-in-child preventOverflow {{ section.settings.text_color }} {{ section.settings.image_height }}" id="FeaturedImage-{{ section.id }}"
    {% if section.settings.parallax %}
      data-parallax-src="{{ collection.image | img_url: '18x' }}"
      data-src="{{ img_url }}"
      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
      data-aspectratio="{{  collection.image.aspect_ratio }}"
      data-sizes="auto"
      style="background-image: url('{{ section.settings.image | img_url: '1x1' }}');"
            {% endif %}>
      <div class="content--centered">
        <div class="text-center preventOverflowContent">
          {%- if section.settings.show_title and section.settings.show_title_below == false  -%}
            <h1 class="title--flex {{ section.settings.align_text }}">{{ collection.title }}</h1>
          {%- endif -%}
          {% if collection.description.size > 0 and section.settings.show_description and section.settings.show_description_below == false %}
            <div class="{{ section.settings.description_font_size }} {{ section.settings.align_text }}">{{ collection.description }}</div>{% endif %}
        </div>
      </div>
      <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
      {% if section.settings.image_height == 'use_image' %}
        <div class="lazy-image" style="padding-top:{{ 1 | divided_by: collection.image.aspect_ratio | times: 100}}%; background-image: url('{{ collection.image | img_url: '1x1' }}');">
          <img class="lazyload fade-in" {% if section.settings.parallax %} style="opacity: 0;"{% endif %}
               alt="{{ collection.image.alt | default: collection.title }}"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
               data-aspectratio="{{ collection.image.aspect_ratio }}"
               data-parent-fit="cover"
               data-sizes="auto"/>
        </div>
      {% endif %}
      {% if section.settings.parallax == false and section.settings.image_height != 'use_image' %}
        <div class="background-size-cover lazyload"  data-bgset="{% include 'bgset', image: collection.image %}"></div>
      {% endif %}
      <noscript>
        <img src="{{ collection.image | img_url: '1440x' }}" alt="{{ collection.image.alt | default: collection.title }}" class="responsive-wide-image"/>
      </noscript>
    </div>
  {% endif %}

  <div class="collection sidebar--hidden" data-sidebar-toggle>
    <div class="wrapper">
      <div class="collection__heading--below">
        {%- if section.settings.show_title -%}
        <h1 class="collection__heading--below title--flex {{ section.settings.align_text }}">{{ collection.title }}</h1>
        {%- endif -%}
        {%- if section.settings.show_description and collection.description.size > 0 -%}
        <div class="collection__heading--below {{ section.settings.description_font_size }} {{ section.settings.align_text }}">
          {{ collection.description }}
        </div>
        {%- endif -%}
      </div>
	  <div class="grid">
        <div class="grid__item collection-content one-whole">
          <div class="grid-uniform">
              {% for block in section.blocks %}
            	{%- assign handle = "" -%}
            	<div class="custom-shop-grid grid grid--full aos-init aos-animate" data-aos="fade-up" style="margin-top:{{section.settings.shop_margin_top}}px;">
                  <div style="margin:{{block.settings.shop_product_margin}}px;padding:{{block.settings.shop_product_padding}}px;">
                  {%- case block.type -%}
                    {%- when "shop_imgproducts1" -%}
                      <div class="single_row">
                          {%- assign grid_width_large = 'large--one-half' -%}
                          {%- assign grid_width_medium = 'medium--one-half' -%}
                          {%- assign grid_width_small = 'small--one-whole' -%}

                          {%- assign handle = block.settings.shop_product1 -%}
                          {% for product in collections.shop.products %}
                            {% if product.handle == handle %}
                              {% assign product = product %}
                            {% endif %}
                          {% endfor %}
                          {%- assign feature_image = block.settings.shop_img1 -%}
                          {% include 'custom-collection-grid-item' %}
                      </div>
                    {%- when "shop_porproducts1" -%}
                      <div class="single_row_portrait">
                          {%- assign grid_width_large = 'large--one-half' -%}
                          {%- assign grid_width_medium = 'medium--one-half' -%}
                          {%- assign grid_width_small = 'small--one-whole' -%}

                          {%- assign handle = block.settings.shop_product1p -%}
                          {%- assign feature_image = block.settings.shop_img1p -%}
                          {% include 'custom-collection-grid-item' %}
                      </div>
                    {%- when "shop_products2" -%}
                        {%- assign grid_width_large = 'large--one-half' -%}
                        {%- assign grid_width_medium = 'medium--one-half' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}

                        {%- assign handle = block.settings.shop_product21 -%}
                   		{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product22 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_imgproducts2" -%}
                        {%- assign grid_width_large = 'large--one-half' -%}
                        {%- assign grid_width_medium = 'medium--one-half' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}

                    	{%- assign handle = block.settings.shop_product21 -%}
                        {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img21 -%}
                        {% include 'custom-collection-grid-item' %}
                    	{%- assign handle = block.settings.shop_product22 -%}
                        {% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img22 -%}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_products3" -%}
                        {%- assign grid_width_large = 'large--one-third' -%}
                        {%- assign grid_width_medium = 'medium--one-third' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}

                        {%- assign handle = block.settings.shop_product31 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product32 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product33 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_imgproducts3" -%}
                        {%- assign grid_width_large = 'large--one-third' -%}
                        {%- assign grid_width_medium = 'medium--one-third' -%}
                        {%- assign grid_width_small = 'small--one-whole' -%}

                    	{%- assign handle = block.settings.shop_product31 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img31 -%}
                        {% include 'custom-collection-grid-item' %}
                    	{%- assign handle = block.settings.shop_product32 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img32 -%}
                        {% include 'custom-collection-grid-item' %}
                    	{%- assign handle = block.settings.shop_product33 -%}
                   		{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img33 -%}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_products4" -%}
                        {%- assign grid_width_large = 'large--one-quarter' -%}
                        {%- assign grid_width_medium = 'medium--one-quarter' -%}
                        {%- assign grid_width_small = 'small--one-half' -%}

                        {%- assign handle = block.settings.shop_product41 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product42 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product43 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product44 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}

                    {%- when "shop_imgproducts4" -%}
                        {%- assign grid_width_large = 'large--one-quarter' -%}
                        {%- assign grid_width_medium = 'medium--one-quarter' -%}
                        {%- assign grid_width_small = 'small--one-half' -%}

                    	{%- assign handle = block.settings.shop_product41 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img41 -%}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product42 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img42 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product43 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img43 -%}
                        {% include 'custom-collection-grid-item' %}
                        {%- assign handle = block.settings.shop_product44 -%}
                    	{% for product in collections.shop.products %}
                          {% if product.handle == handle %}
                          	{% assign product = product %}
                          {% endif %}
                        {% endfor %}
                    	{%- assign feature_image = block.settings.shop_img44 -%}
                        {% include 'custom-collection-grid-item' %}
                  {%- endcase -%}
                  </div>
            	</div>
            	<div style="clear:both;"></div>

              {% endfor %}
          </div>
      </div>
      </div>
    </div>
</div>

{% endpaginate %}

<script>
  $(document).ready(function(){
    $('.grid__item_frame').each(function(){
    $(this).css( "height", this.clientWidth * 1.33 ); });
    $('.single_row .grid__item_frame').each(function(){
    $(this).css( "height", "unset !important" ); });
    $('.single_row_portrait .grid__item_fram').each(function(){
    $(this).css( "height", "unset !important" ); });
  });
</script>

{% schema %}
{
  "name": "Gift card",
  "settings": [
    {
       "type": "header",
       "content": "Layout"
     },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show feature image",
      "default": true
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image height",
      "default": "use_screen_one_third",
      "options": [
        { "value": "use_image", "label": "Image height"},
        { "value": "use_screen_two_thirds", "label": "Tall"},
        { "value": "use_screen_one_half", "label": "Medium"},
        { "value": "use_screen_one_third", "label": "Short"},
        { "value": "use_screen_one_fifth", "label": "Tiny"}
      ]
    },
    {
      "type":    "range",
      "id":      "overlay_opacity",
      "min":     0,
      "max":     100,
      "step":    5,
      "label":   "Image overlay opacity",
      "info":    "Increase contrast for legible text.",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "default": false,
      "label": "Enable parallax scroll"
    },
     {
       "type": "select",
       "id": "align_text",
       "label": "Text alignment",
       "default": "text-center",
       "options": [
         { "value": "text-left", "label": "Left"},
         { "value": "text-center", "label": "Center"},
         { "value": "text-right", "label": "Right"}
       ]
     },
     {
       "type": "checkbox",
       "id": "show_title",
       "label": "Show collection title",
       "default": true
     },
     {
       "type": "checkbox",
       "id": "show_description",
       "label": "Show collection description",
       "default": true
     },
     {
       "type": "select",
       "id": "description_font_size",
       "label": "Description text size",
       "default": "rte rte--large",
       "options": [
         { "value": "rte", "label": "Regular"},
         { "value": "rte rte--large", "label": "Large"},
         { "value": "rte rte--xl", "label": "Extra Large"}
       ]
     },
    {
      "type":    "range",
      "id":      "shop_margin_top",
      "min":     0,
      "max":     250,
      "step":    5,
      "label":   "Top Margin (px per row)",
      "default": 0
    },
    {
      "type":    "range",
      "id":      "shop_margin_bottom",
      "min":     0,
      "max":     250,
      "step":    5,
      "label":   "Bottom Margin (px per row)",
      "default": 25
    }
    ],
    "blocks": [
    {
      "type": "shop_products2",
      "name": "Products x 2",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "product",
          "id": "shop_product21",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "shop_product22",
          "label": "Product 2"
        }
      ]
    },
    {
      "type": "shop_products3",
      "name": "Products x 3",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "product",
          "id": "shop_product31",
          "label": "Product 1"
        },
		{
          "type": "product",
          "id": "shop_product32",
          "label": "Product 2"
        },
		{
          "type": "product",
          "id": "shop_product33",
          "label": "Product 3"
        }
      ]
    },
    {
      "type": "shop_products4",
      "name": "Products x 4",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "product",
          "id": "shop_product41",
          "label": "Product 1"
        },
		{
          "type": "product",
          "id": "shop_product42",
          "label": "Product 2"
        },
        {
          "type": "product",
          "id": "shop_product43",
          "label": "Product 3"
        },
		{
          "type": "product",
          "id": "shop_product44",
          "label": "Product 4"
        }
      ]
    },
  	{
      "type": "shop_imgproducts1",
      "name": "Images with Products x 1",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img1",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "shop_product1",
          "label": "Product"
        }
      ]
    },
    {
      "type": "shop_porproducts1",
      "name": "Port with Products x 1",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "checkbox",
          "id": "image_reduce_enable",
          "label": "Reduce image size by 10%",
          "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img1p",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "shop_product1p",
          "label": "Product"
        }
      ]
    },
    {
      "type": "shop_imgproducts2",
      "name": "Images with Products x 2",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img21",
          "label": "Image 1"
        },
        {
          "type": "product",
          "id": "shop_product21",
          "label": "Product 1"
        },
        {
          "type": "image_picker",
          "id": "shop_img22",
          "label": "Image 2"
        },
		{
          "type": "product",
          "id": "shop_product22",
          "label": "Product 2"
        }
      ]
    },
    {
      "type": "shop_imgproducts3",
      "name": "Images with Products x 3",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img31",
          "label": "Image 1"
        },
        {
          "type": "product",
          "id": "shop_product31",
          "label": "Product 1"
        },
        {
          "type": "image_picker",
          "id": "shop_img32",
          "label": "Image 2"
        },
		{
          "type": "product",
          "id": "shop_product32",
          "label": "Product 2"
        },
        {
          "type": "image_picker",
          "id": "shop_img33",
          "label": "Image 3"
        },
		{
          "type": "product",
          "id": "shop_product33",
          "label": "Product 3"
        }
      ]
    },
    {
      "type": "shop_imgproducts4",
      "name": "Images with Products x 4",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_autoheight_enable",
          "label": "Auto Height Enabled",
          "default": true
        },
        {
        "type": "checkbox",
        "id": "full_size_pictures",
        "label": "Disable fixed height for images",
        "default": false
        },
        {
          "type": "select",
          "id": "product_grid_aspect_ratio",
          "label": "Product Grid Aspect Ratio",
          "default": "0.75",
          "options": [
            { "value": "1.33", "label": "Landscape"},
            { "value": "0.75", "label": "Portrait"}
          ]
        },
        {
          "type":    "range",
          "id":      "shop_product_margin",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Margin",
          "default": 0
        },
        {
          "type":    "range",
          "id":      "shop_product_padding",
          "min":     0,
          "max":     50,
          "step":    1,
          "label":   "Padding",
          "default": 0
        },
        {
          "type": "image_picker",
          "id": "shop_img41",
          "label": "Image 1"
        },
        {
          "type": "product",
          "id": "shop_product41",
          "label": "Product 1"
        },
        {
          "type": "image_picker",
          "id": "shop_img42",
          "label": "Image 2"
        },
		{
          "type": "product",
          "id": "shop_product42",
          "label": "Product 2"
        },
        {
          "type": "image_picker",
          "id": "shop_img43",
          "label": "Image 3"
        },
        {
          "type": "product",
          "id": "shop_product43",
          "label": "Product 3"
        },
        {
          "type": "image_picker",
          "id": "shop_img44",
          "label": "Image 4"
        },
		{
          "type": "product",
          "id": "shop_product44",
          "label": "Product 4"
        }
      ]
    }
  ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
