{{ 'new-home-page.scss.css' | asset_url | stylesheet_tag }}

<div class="hero aos-init aos-animate lazyload fade-in" data-aos="fade-up" style="background-image:url({{ section.settings.imgHero | img_url: 'master'}})">
    <div class="wrapper">
        <div class="hero__text">
            <div class="hero__text_title">
                {{ section.settings.hero_title }}
                </div>
            <a href="{{ section.settings.url_btn }}" class="hero__text_button">
                {{ section.settings.text_button }}          
            </a>
        </div>
    </div>
</div>

<script>
    AOS.init();
</script>

{% schema %}
    {
    "name": "Hero",
    "class": "hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "imgHero",
            "label": "ImgHero"
        },
        {
            "type": "text",
            "id": "hero_title",
            "label": "HeroTitle", 
            "default": "Everyday Luxury Essentials"
        },
        {
            "type": "url",
            "id": "url_btn",
            "label": "Link for btn"
        },
        {
            "type": "text",
            "id": "text_button",
            "label": "Text for button",
            "default": "SHOP NOW"
        }
    ]
}
{% endschema %}